<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Tem em São Caetano?</title>
    <link rel="stylesheet" href="aparencia.css">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121172684-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121172684-1');
    </script>
    <!-- Meus Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="vue-youtube.js"></script>
  </head>
  <body>

    <main id="app">

      <nav>
        <header v-if="tempList.length < 0">
            <a href="#" class="menuback" @click="tempList = []">Tem <span class="dropdown">{{ tag }}</span>em São Caetano?</a>
        </header>
        <aside><a href="#" v-bind:class="{ menuback: isActive }" @click="isActive = !isActive">{{ toggleSobre }}</a></aside>
      </nav>

      <article v-if="tempList.length === 0">
        <header>Tem <span class="dropdown"> {{ tag }} </span> em São Caetano?</header>
        <a v-for="p in perguntas" href="#" :id="p.video" class="abertura" @mouseover="tag = p.name" @click="pagina(perguntas.indexOf(p))"><img :src="p.img" :data="p.name" /></a>
      </article>

      <article v-else>
        <nav>
          <header>
            <a href="#" class="menuback" @click="tempList = []">Tem <span class="dropdown">{{ tag }}</span>em São Caetano?</a>
        </header>
        <aside><a href="#" v-bind:class="{ menuback: isActive }" @click="isActive = !isActive">{{ toggleSobre }}</a></aside>
        </nav>
        <youtube :video-id="curVideo"></youtube>
        <ul class="perguntas">
          <li v-for="pergunta in tempList"><a href="#" @click="navigation(tempList.indexOf(pergunta))">{{ pergunta.name }}</a></li>
        </ul>
      </article>

      <footer v-bind:class="{ show: isActive }">
        <div class="sobre">
          <p>SOBRE:</p>
          <p>Essa plataforma online é um transbordamento do material rico e diverso recolhido durante o semestre letivo de trabalhos com a EJA da EME Prof. Vicente Bastos. Seu formato pretende ser mais que o de um documentário online comum, um webdoc, para poder contemplar melhor as contribuições dos entrevistados e de todo o processo dos alunos. Assim, seu formato pretende simular uma conversa que segue rolando normalmente, com perguntas que o navegante da plataforma pode escolher em cada trecho de fala, de acordo com o seu interesse pelo tema que ela propõe, e se entregar a um diálogo com figuras únicas que contam um pouco mais da história de todos nós.</p>
          <p>Não esqueça de conferir também o documentário, disponível no YouTube em https://www.youtube.com/watch?v=B5HvkMeQALM&t=25s, e volte aqui depois para ouvir mais dessas pessoas que constroem, como nós, o cotidiano da cidade.</p>
  	      <p>"Aquém da Fundação: outras matizes em São Caetano” é um projeto de pesquisa documental e pedagógico realizado por professores e alunos da EJA da EME Prof. Vicente Bastos, em parceria com o Coletivo Mapa Xilográfico e SESC São Caetano do Sul, com o objetivo de vasculhar, registrar e apresentar as contribuições das culturas indígena e negra na formação histórica e cultural da cidade de São Caetano do Sul, destacando essa presença, como sujeitos protagonistas, no passado, presente e no contexto das dinâmicas sociogeográficas da cidade. O trabalho de pesquisa e produção busca compreender e evidenciar narrativas sobre a fundação e atualidade da cidade que nem sempre são lembradas ou até mesmo conhecidas e que nos apresentam experiências e vivências fundamentais da história e da cultura brasileiras.</p>
        </div>
        <div class="creditos">
          <pre>
            CREDITOS:

            PROGRAMAÇÃO E MONTAGEM
            EDUARDO LIRON

            PESQUISA, PRODUÇÃO E CAPTURA AUDIOVISUAL
            MILENE VALENTIR
            VANESSA RITA
            DIGA RIOS
            ANDRÉ SANTOS

            CO-PRODUÇÃO E CAPTURA AUDIOVISUAL
            GRUPO DE ESTUDOS DE CULTURA INDÍGENA E AFRO-BRASILEIRA DA EME PROF. VICENTE BASTOS
            BERNADETE MARQUES
            JENNIFER TORQUATO NUNES
            JOÃO VICTOR LOURENÇO SILVA
            MATHEUS CARILLO
            THIAGO DA SILVA AFONSO

            ESTUDANTES DA EDUCAÇÃO DE JOVENS E ADULTOS – EJA EME PROFESSOR VICENTE BASTOS
            2FNA
            COSME CARDOSO FERREIRA
            ELIAS CARVALHO CRUZ
            GERAILDO FERREIRA LIMA
            JOSE JOAQUIM MARIANO
            MARLI FERREIRA DE BRITO

            3FNA
            ANTONIA DE LIMA
            CLEUSA APARECIDA GARCIA PASSERINI
            EDNA MARIA REIS
            FRANCINETH AMÉRICO DE BRITO
            JANIELE MARIA DE LIMA
            JURACI DE NOVAIS SANTOS
            MARIA DAS NEVES DE JESUS
            MARIA DILMA DOS SANTOS
            MARIA LUSINETE DA SILVA
            ROSILENE BARBOSA DOS SANTOS

            4FNA
            ALVINA MARIA DOS SANTOS ANDRADE
            FERNANDO DE JESUS SILVA
            ISVALDINA ANA DE SOUSA
            MARIA DO CARMO ALVES DE SOUSA
            MATHEUS HELENO DA ROCHA
            RAIMUNDA CRESSÊNCIA DA SILVA
            THAINA LIMA DA ROCHA

            5FNA
            CICERA ILDA ALVES DE SOUSA
            CLAUDEON FERREIRA CAVALCANTE
            DIVINA GOMES DE MOURA SANTOS
            EDSON MARQUES
            EMIDIA SABINO DOS SANTOS
            GERALDA LUNA BENFICA
            IRACEMA MARIA FERREIRA
            MARCIA MARIA DA CRUZ
            MARIA ANILDA FERREIRA
            MARIA DO SOCORRO DA SILVA
            MARIA ELAINE DA SILVA
            MARIA FILOMENA DA CONCEIÇÃO
            MARIA JOSÉ DA SILVA
            MARIA VALDECI DANTAS BEZERRA MOREIRA
            MARIA VANDA PEREIRA VIEIRA BRANDÃO FERREIRA
            RITA DE CÁSSIA FERREIRA DOS SANTOS
            VICTOR JORGE MOLARES PEREIRA
            VITÓRIA GONÇALVES DE NOVAIS

            8FNA
            ALEX NASCIMENTO SAMPAIO
            ANTÔNIO DA GUIA PEREIRA DO NASCIMENTO
            EDE FERNANDES MACHADO
            FABIANA DE SOUZA OKADA
            FIRMINO VIEIRA DE ARAUJO
            FRANCISCO LINDEMBERG DE OLIVEIRA
            GENERINO GOIS DE OLIVEIRA
            JOÃO VÍCTOR LOURENÇO SILVA
            JOSEBETO FERNANDES SILVA JÚNIOR
            JOSEFA BARBOSA DA SILVA
            LUCAS MATHEUS DE CARVALHO
            MARCOS ANDRÉ CAETANO DA SILVA
            MATHEUS FERREIRA COSTA
            PAULO RYAN DE SOUSA
            PETRINA OLIVEIRA
            RENATA DO NASCIMENTO NOZNICA
            RHAIANNY VITORIA FERREIRA SOUZA
            VALMIR GOMES DA SILVA
            VINICIUS CONSULEQUE SANTOS DA SILVA
            VITORIA ROMERO DA SILVA
            VIVIANE SANTOS DA SILVA

            8FNB
            ALLYSON ISRAEL ANDRADE MORAES DA SILVA
            AMANDA ALCANTARA PEREIRA
            ANA BEATRIZ LOPES DA SILVA
            DIMAS DO ESPÍRITO SANTO JUNIOR
            EDLENE DA SILVA BORGES
            FILIPE SILVA ALVES DOS SANTOS
            ISABELLA BATISTA DE VILLA
            JHONATA JESUS OLIVEIRA
            JOÃO VICTOR SILVA SANTOS
            JOÃO VITOR ANTONIO FERREIRA PERES
            KAIQUE REGIS SANTOS DE JESUS
            LEONARDO DA SILVA PAES
            LEONARDO FELIPE GOMES LOPES
            LUCAS DA SILVA LOURENÇO
            MARCOS VINÍCIUS FERREIRA DE ARAUJO
            MATHEUS HENRIQUE IVANOFF RODRIGUES
            MATHEUS RIAN GOMES DE SOUZA
            NICHOLLAS PEIXOTO DE ANDRADE
            VITOR ESTEVÃO DA SILVA

            9FNA
            ALEX MOREIRA PEREIRA
            ANA CAROLINE DO NASCIMENTO PEREIRA
            BRUNO ARAÚJO FÁVERO
            BRUNO MONTEGGIA GUAZELI LORENZINI
            CARLOS VICTOR LIMA REZENDE
            DIANA ALVES NASCIMENTO
            GEOVANA OLIVEIRA DE BARROS
            INDARA ROSA SILVA
            IRAYE ALBERTO SILVA
            JUSAN CARLOS VINICIUS SOUSA DE LIMA
            KEVYN CÁSSIO ANDRADE
            LARISSA GONÇALVES DE OLIVEIRA TELES
            LEONARDO MILANEZ DA COSTA
            LUCAS NASCIMENTO LOLO
            LUIZ MIGUEL DOS SANTOS SILVA
            MARCELO HENRIQUE TONHETTI KAWAMATA
            MARIA NEIDE DE JESUS
            MURILO HENRIQUE DO VALLE PAIVA BRITO
            PATRICK MORAES DOS SANTOS LIMA
            RAFAEL LOURENÇO SÁ BARRETO
            RENATA DA SILVA GONÇALVES
            RICARDO AURELIO GIORGI PINTO
            RODRIGO SANTOS GAIA
            ROSANGELA FAUSTINO PRISTON
            THAINÁ OLIVEIRA PEREIRA
            VALQUIRINHA MARIA DE JESUS
            YASMIN CRISTINA DE ALMEIDA NASCIMENTO
            ANA PAULA MALLASEN MAZURKIEVIZ
            IGOR LEONARDO SILVA DE ARAUJO
            VINÍCIUS SATURNINO SANTOS

            1MNA
            ADELHO JOSÉ DA SILVA
            FRANCISCO DAS CHAGAS PEREIRA
            GABRIEL CIRIGIOLLI
            GABRIEL DA SILVA MACAMBIRA
            GABRIELLE MARIM LACERDA
            GIOVANNA NAHAS
            GUSTAVO HENRIQUE SILVA
            JÉSSICA SOARES DA SILVA
            LARISSA TONIATTI FUSTER
            MARIA DE LOURDES COELHO FERREIRA
            MARIA INÊS GALERA DE HALO
            MATHEUS SALGUEIRO PAINS
            MILENNE FRANÇA CRUZ DIAS
            PATRICK NASCIMENTO BEZERRA
            RAYSSA GONZALES MAGAROTO
            RENATO SOARES DA SILVA
            THADEU FELIPE GONÇALVES DE SOUZA
            VANESSA ALVES DA SILVA

            1MNB
            ALECSANDRO CORREIA ROCHA GONÇALVES
            ANDRÉ LUIZ FERREIRA SCHIAVETTE
            CLAUDIO JOSE TRINDADE
            GEOVANE DOS SANTOS INCARNACAO
            GUILHERME RIBEIRO DOS SANTOS
            GUSTAVO GAGLIARDI AYRES
            MARIA DO CARMO SILVA
            MONICA CRISTINA CORRÊA GRISANTE
            NILSON SEIJI TOMIZAWA
            RARU RODRIGUES
            ROSANGELA APARECIDA DA SILVA PAES
            THIAGO TENIS SANTIAGO

            1MNC
            ANDRÉ SANTOS GUIMARAES
            BRUNO ALEXANDRE DIAS CESARIO
            EBER LUIZ DE SOUZA GONÇALVES
            EDUARDO RODRIGUES DA SILVA
            GABRIEL COSTA DE SOUZA SANTANA
            GUILHERME DUARTE FARIA
            ISABELA NUNES RIBEIRO
            JOÃO GABRIEL FERREIRA LUIZ
            JUAN LUCAS STURARO GUIMARÃES
            LEONARDO AOYAGI LIMA
            LEONIZIA MOREIRA CORDEIRO
            LETÍCIA PRESTI CAETANO DO CARMO
            LUCAS DOS SANTOS JUS
            PEDRO HENRIQUE DE ALMEIDA FELICIO
            RODRIGO SPULVEDA BASTOS
            SABRINA MARTINS PEREIRA
            THOMAZ HENRIQUE CRUZ PEREZ
            YURI STEPANIES


            ENTREVISTADOS
            ADALBERTO CAMPOS LORENTE
            CRISTINA TOLEDO DE CARVALHO
            DAVID AUGUSTO SANTOS
            MESTRE  DIOLINO (DIOLINO DE BRITO )
            ELTON GONZAGA PEREIRA
            EMERSON FERNANDO DE SOUZA COSTA
            ELISABETE JULIA DE ALMEIDA DE ARAÚJO
            FERNANDA SOUZA
            MESTRE GERA (GERALDO JOSÉ DOS SANTOS)
            KARAI MIRIN - ALDEIA GUARANI GUYRAPA-JU
            LEILA MOLINA LORENTE
            MARCOS ANTÔNIO BASSANETO
            MARCOS JULIO AGUIAR
            ROBSON DA SILVA
            ROBSON GONZAGA
            MESTRANDO CINZENTO (RODRIGO RICARDO COSTA)
            RONALDO LINARES
            ROSA ANA MARIA DE JESUS
            ROSANA TITO SANTOS
            SAMILA ZAMBETTI DOS SANTOS
            SANDRA CASSIANO
            TÂNIA FERREIRA DO NASCIMENTO

            GRAFFITI
            SMUL (RODRIGO PRADO)
            STEPHANY ALVES
            CARLOS HENRIQUE

            VIDEOS
            DOCUMENTÁRIO: SÃO CAETANO DO SUL O PRÍNCIPE DOS NOVOS MUNICÍPIOS – 1950
            ACERVO ATÍLIO SANTARELLI

            TRILHA
            ANDRÉ TELES

            ACERVO DE IMAGENS
            FUNDAÇÃO PRÓ-MEMÓRIA DE SÃO CAETANO DO SUL.

            AGRADECIMENTOS
            AOS EDUCADORES, FUNCIONÁRIOS E COMUNIDADE ESCOLAR DA EJA EME PROF. VICENTE BASTOS.
            À DIREÇÃO, FORMADORES E FUNCIONÁRIOS DO CECAPE - CENTRO DE CAPACITAÇÃO DE PROFISSIONAIS DA EDUCAÇÃO DRA. ZILDA ARNS.
            AOS PESQUISADORES DA FUNDAÇÃO PRÓ-MEMÓRIA DE SÃO CAETANO DO SUL PELO APOIO À PESQUISA.
            À COMUNIDADE DO SAMBA SOMOS NÓS, DA RUA SILVIA.
            À COMUNIDADE DA CAPOEIRA GINGA DE OURO.
            À KELLY CECÍLIA TEIXEIRA, HELENA SEGNINI, DÉBORA SILVA CARVALHO E A EQUIPE DO SESC SÃO CAETANO.
            AOS ENTREVISTADOS QUE GENTILMENTE COMPARTILHARAM SEUS SABERES.
          </pre>
        </div>
        <div class="apoio">
          Apoio à Pesquisa
          <img src="img/promemoria.png" style="width: 15vw">
          <img src="img/cecape.png" style="width: 5vw">
        </div>
        <div class="realizacao">
          Realização
          <img src="img/vb.png" style="width: 8vw">
          <img src="img/xilo.png" style="width: 5vw">
          <img src="img/sesc.png" style="width: 8vw">
        </div>
      </footer>
    </main>
  </body>
  <script>
    Vue.use(VueYouTubeEmbed)
  </script>
  <script src="app.js"></script>
</html>
